<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>🕷 Mechanical Insect</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/iconfonts/mdi/css/materialdesignicons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/css/vendor.bundle.base.css')}}">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.png')}}" />
</head>
{% import "ul/message.html" as message %}
{% for msg in get_flashed_messages(category_filter=["ok"]) %}
    {{ message.message('ok',msg) }}
{% endfor %}
{% for msg in get_flashed_messages(category_filter=["err"]) %}
    {{ message.message('err',msg) }}
{% endfor %}
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center text-center error-page bg-primary">
        <div class="row flex-grow">
          <div class="col-lg-7 mx-auto text-white">
            <div class="row align-items-center d-flex flex-row">
              <div class="col-lg-6 text-lg-right pr-lg-4">
                <h1 class="display-1 mb-0">404</h1>
              </div>
              <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                <h2>欢迎来到外星世界!</h2>
                <h3 class="font-weight-light">你 要 找 的 页 面 不 存 在.</h3>
                <h4 class="font-weight-light">⌇●﹏●⌇Σσ我我我什么都没做!!!</h4>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 text-center mt-xl-2">
                <a class="text-white font-weight-medium" href="{{ url_for('admin.login') }}">返回 首页</a>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 mt-xl-2">
                <p class="text-white font-weight-medium text-center">Copyright &copy; 2020  All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{{url_for('static',filename='vendors/js/vendor.bundle.base.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/js/vendor.bundle.addons.js')}}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{{url_for('static',filename='js/off-canvas.js')}}"></script>
  <script src="{{url_for('static',filename='js/misc.js')}}"></script>
  <!-- endinject -->
</body>

</html>
