{#<!DOCTYPE html>#}
{#<html class="x-admin-sm">#}
{##}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="renderer" content="webkit">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">#}
{#    <meta name="viewport"#}
{#          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>#}
{#    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">#}
{#    <link rel="stylesheet" href="{{ url_for('static',filename='css/font.css') }}">#}
{#    <link rel="stylesheet" href="{{ url_for('static',filename='css/xadmin.css') }}">#}
{#    <script src="{{ url_for('static',filename='lib/layui/layui.js') }}" charset="utf-8"></script>#}
{#    <script type="text/javascript" src="{{ url_for('static',filename='js/xadmin.js') }}"></script>#}
{#    <link rel="stylesheet" href="{{ url_for('static',filename='layuiadmin/layui/css/layui.css') }}" media="all">#}
{#    <link rel="stylesheet" href="{{ url_for('static',filename='layuiadmin/style/admin.css') }}" media="all">#}
{#</head>#}
{#{% import "ul/admin_page.html" as pg %}#}
{#{% import "ul/message.html" as message %}#}
{#{% for msg in get_flashed_messages(category_filter=["ok"]) %}#}
{#    {{ message.message('ok',msg) }}#}
{#{% endfor %}#}
{#{% for msg in get_flashed_messages(category_filter=["err"]) %}#}
{#    {{ message.message('err',msg) }}#}
{#{% endfor %}#}
{#<body>#}
{#<div class="layui-fluid">#}
{#    <div class="layui-row">#}
{#        <form role="form" method="post" novalidate>#}
{#            <div class="box-body">#}
{#                <div class="form-group">#}
{#                    <label for="input_name">{{ form.name.label }}</label>#}
{#                    {{ form.name }}#}
{#                    {% for err in form.name.errors %}#}
{#                        <div class="col-md-12">#}
{#                            <p style="color:red">{{ err }}</p>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="input_name">{{ form.version.label }}</label>#}
{#                    {{ form.version }}#}
{#                    {% for err in form.version.errors %}#}
{#                        <div class="col-md-12">#}
{#                            <p style="color:red">{{ err }}</p>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="input_name">{{ form.models.label }}</label>#}
{#                    {{ form.models }}#}
{#                    {% for err in form.models.errors %}#}
{#                        <div class="col-md-12">#}
{#                            <p style="color:red">{{ err }}</p>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <div class="col-md-12">#}
{#                        <label for="input_name">{{ form.case_leader.label }}</label>#}
{#                    </div>#}
{#                    {{ form.case_leader }}#}
{#                    {% for err in form.case_leader.errors %}#}
{#                        <div class="col-md-12" id="case_list">#}
{#                            <p style="color:red">{{ err }}</p>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <div class="col-md-12">#}
{#                        <label for="input_name">{{ form.Environment.label }}</label>#}
{#                    </div>#}
{#                    {{ form.Environment }}#}
{#                    {% for err in form.Environment.errors %}#}
{#                        <div class="col-md-12" id="case_list">#}
{#                            <p style="color:red">{{ err }}</p>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label>{{ form.comment.label }}</label>#}
{#                    {{ form.comment }}#}
{#                    {% for err in form.comment.errors %}#}
{#                        <div class="col-md-12" style="color:red">{{ err }}</div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#            <div class="box-footer">#}
{#                {{ form.submit }}#}
{#                {{ form.csrf_token }}#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{#</div>#}
{#</body>#}
{##}
{#</html>#}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>表单组合</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{{ url_for('static',filename='layuiadmin/layui/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static',filename='layuiadmin/style/admin.css') }}" media="all">
</head>
{% import "ul/message.html" as message %}
{% for msg in get_flashed_messages(category_filter=["ok"]) %}
    {{ message.message('ok',msg) }}
{% endfor %}
{% for msg in get_flashed_messages(category_filter=["err"]) %}
    {{ message.message('err',msg) }}
{% endfor %}
<body>

<div class="layui-fluid">
    <div class="layui-card">
        {#        <div class="layui-card-header">新增用例</div>#}
        <div class="layui-card-body" style="padding: 15px;">
            <form role="form" method="post" novalidate class="layui-form" action="" lay-filter="component-form-group">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"><a style="color: red">* </a>{{ form.models.label }}</label>
                        <div class="layui-input-inline">
                            {{ form.models }}
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"><a style="color: red">* </a>{{ form.version.label }}</label>
                        <div class="layui-input-inline">
                            {{ form.version }}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><a style="color: red">* </a>{{ form.name.label }}</label>
                    <div class="layui-input-block">
                        {{ form.name }}
                        {% for err in form.name.errors %}
                            <div class="col-md-12">
                                <p style="color:red">{{ err }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-inline">
                            <label class="layui-form-label"><a style="color: red">* </a>{{ form.case_leader.label }}</label>
                            <div class="layui-input-inline">
                                {{ form.case_leader }}
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label"><a style="color: red">* </a>{{ form.Environment.label }}</label>
                            <div class="layui-input-inline">
                                {{ form.Environment }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-inline">
                            <label class="layui-form-label"><a style="color: red">* </a>{{ form.RequestMethod.label }}</label>
                            <div class="layui-input-inline">
                                {{ form.RequestMethod }}
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"><a style="color: red">* </a>{{ form.code.label }}</label>
                        <div class="layui-input-block">
                            {{ form.code }}
                            {% for err in form.code.errors %}
                                <div class="col-md-12">
                                    <p style="color:red">{{ err }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><a style="color: red">* </a>{{ form.RequestAddress.label }}</label>
                    <div class="layui-input-block">
                        {{ form.RequestAddress }}
                        {% for err in form.RequestAddress.errors %}
                            <div class="col-md-12">
                                <p style="color:red">{{ err }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><a style="color: red">* </a>{{ form.RequestData.label }}</label>
                    <div class="layui-input-block">
                        {{ form.RequestData }}
                        {% for err in form.RequestData.errors %}
                            <div class="col-md-12">
                                <p style="color:red">{{ err }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><a style="color: red">* </a>{{ form.RequestSql.label }}</label>
                    <div class="layui-input-block">
                        {{ form.RequestSql }}
                        <a style="color: #7e7e7e ; font-size: 10px ">事例：{"my_sql": "select * from knowledge_point where title=%s ORDER BY id DESC", "condition": "zghtest","1":3, "code": 0}</a>
                        {% for err in form.RequestSql.errors %}
                            <div class="col-md-12">
                                <p style="color:red">{{ err }}</p>
                            </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
{#                            <textarea name="text" placeholder="请输入内容" class="layui-textarea"></textarea>#}
                        {{ form.comment }}
                    </div>
                </div>
                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
{#                                <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>#}
                            {{ form.submit }}
                            {{ form.csrf_token }}
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{{ url_for("static",filename="layuiadmin/layui/layui.js") }}"></script>
<script>
    layui.config({
        base: '{{ url_for("static",filename="layuiadmin/") }}' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate'], function () {
        var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , form = layui.form;

        form.render(null, 'component-form-group');

        laydate.render({
            elem: '#LAY-component-form-group-date'
        });
        /* 自定义验证规则 */
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [/(.+){6,12}$/, '密码必须6到12位']
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });
    });
</script>
</body>
</html>
