<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/xadmin.css') }}">
    <script src="{{ url_for('static',filename='lib/layui/layui.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/xadmin.js') }}"></script>
</head>
{% import "ul/admin_page.html" as pg %}
{% import "ul/message.html" as message %}
{% for msg in get_flashed_messages(category_filter=["ok"]) %}
    {{ message.message('ok',msg) }}
{% endfor %}
{% for msg in get_flashed_messages(category_filter=["err"]) %}
    {{ message.message('err',msg) }}
{% endfor %}
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form role="form" method="post" novalidate>
            <div class="box-body">
                <div class="form-group">
                    <label for="input_name">{{ form.name.label }}</label>
                    {{ form.name }}
                    {% for err in form.name.errors %}
                        <div class="col-md-12">
                            <p style="color:red">{{ err }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="input_name">{{ form.version.label }}</label>
                    {{ form.version }}
                    {% for err in form.version.errors %}
                        <div class="col-md-12">
                            <p style="color:red">{{ err }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="input_name">{{ form.models.label }}</label>
                    {{ form.models }}
                    {% for err in form.models.errors %}
                        <div class="col-md-12">
                            <p style="color:red">{{ err }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="input_name">{{ form.leader.label }}</label>
                    </div>
                    {{ form.leader }}
                    {% for err in form.leader.errors %}
                        <div class="col-md-12" id="case_list">
                            <p style="color:red">{{ err }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label>{{ form.comment.label }}</label>
                    {{ form.comment }}
                    {% for err in form.comment.errors %}
                        <div class="col-md-12" style="color:red">{{ err }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="box-footer">
                {{ form.submit }}
                {{ form.csrf_token }}
            </div>
        </form>
    </div>
</div>
</body>

</html>
