{% extends "admin/admin.html" %}
{% import "ul/admin_page.html" as pg %}
{% import "ul/message.html" as message %}
{% for msg in get_flashed_messages(category_filter=["ok"]) %}
{{ message.message('ok',msg) }}
{% endfor %}
{% block css %}
{% endblock %}

{% block content %}
<!-- 功能区 -->
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">角色列表
                          <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                            data-target="#myModal" style="float:right;">
                              新增
                          </button>
                      </h4>
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>编号</th>
                            <th>角色名称</th>
                            <th>添加时间</th>
                            <th>操作事项</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for v in page_data.items %}
                        <tr>
                            <td>{{ v.id }}</td>
                            <td>{{ v.name }}</td>
                            <td>{{ v.addtime }}</td>
                            <td>
                                <a href="#" class="label label-success">编辑</a>
                                <a href="{{ url_for('admin.role_del',id=v.id)}}" class="label label-danger">删除</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  <div class="box-footer clearfix" style="text-align: center">
                    {{ pg.page(page_data,'admin.role_list') }}
                  </div>
                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog"
                             style="position: absolute; width: auto; height: 520px; margin: auto; top: 0; left: 0; bottom: 0; right: 0;">
                            <div class="modal-content" style="height: auto;">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">
                                        角色新增
                                    </h4>
                                </div>
                                <form role="form" method="post" novalidate>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="input_name">{{ form.name.label }}</label>
                                            {{ form.name }}
                                            {% for err in form.name.errors %}
                                            <div class="col-md-12">
                                                <p style="color:red">{{ err }}</p>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group" id="auth_list">
                                            <label>{{ form.auths.label }}</label>
                                            {{ form.auths }}
                                            {% for err in form.auths.errors %}
                                            <div class="col-md-12" style="color:red">{{ err }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary btn-sm"
                                                data-dismiss="modal">关闭
                                        </button>
{#                                        <button type="button" class="btn btn-outline-info btn-sm">#}
{#                                            提交#}
{#                                        </button>#}
                                        {{ form.submit }}
                                        {{ form.csrf_token }}
                                    </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                    <!-- 模态框（Modal） -->
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 功能区 -->
</div>
{% endblock %}

{% block js %}
<!-- 引入js -->
<script>
    $(document).ready(function () {
        $("#g-10").addClass("active");
        $("#g-10-2").addClass("active");
        $("#g-10-1").addClass("active");
    })
</script>
<!-- 引入js -->
{% endblock%}
