{% extends "admin/admin.html" %}
{% import "ul/admin_page.html" as pg %}
{% import "ul/message.html" as message %}
{% for msg in get_flashed_messages(category_filter=["ok"]) %}
{{ message.message('ok',msg) }}
{% endfor %}
{% block css %}
{% endblock %}

{% block content %}
<!-- 功能区 -->
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">角色列表<button type="button" class="btn btn-outline-success btn-sm" style="float:right;">新增</button></h4>
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>编号</th>
                            <th>角色名称</th>
                            <th>添加时间</th>
                            <th>操作事项</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for v in page_data.items %}
                        <tr>
                            <td>{{ v.id }}</td>
                            <td>{{ v.name }}</td>
                            <td>{{ v.addtime }}</td>
                            <td>
                                <a href="#" class="label label-success">编辑</a>
                                <a href="#" class="label label-danger">删除</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  <div class="box-footer clearfix" style="text-align: center">
                    {{ pg.page(page_data,'admin.role_list') }}
                  </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 功能区 -->
</div>
{% endblock %}

{% block js %}
<!-- 引入js -->
<script>
    $(document).ready(function () {
        $("#g-11").addClass("active");
        $("#g-11-2").addClass("active");
    })
</script>
<!-- 引入js -->
{% endblock%}
